.about {
    width: 100%;
    padding-top: 3rem;
    overflow-x: hidden;
}
@media (max-width: 1280px) {
    .about {
        padding-top: calc(.66rem + (3 - .66) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.about__title {
    font-family: 'Prompt Bold', sans-serif;
    font-size: 6rem;
    line-height: 6rem;
    text-align: center;
    color: rgba(0, 0, 0, .1);
    letter-spacing: .066rem;
}
@media (max-width: 1280px) {
    .about__title {
        font-size: calc(2.66rem + (6 - 2.66) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(3rem + (6 - 3) * ((100vw - 20rem) / (71.11 - 20)))
    }
}

.about_caption {
    font-family: 'Prompt SemiBold', sans-serif;
    font-size: 2.33rem;
    line-height: 2.33rem;
    text-align: center;
    color: rgba(0, 0, 0, .8);
    transform: translateY(-33%);
}
@media (max-width: 1280px) {
    .about_caption {
        font-size: calc(1.1rem + (2.33 - 1.1) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(1.1rem + (2.33 - 1.1) * ((100vw - 20rem) / (71.11 - 20)));
    }
}
@media (max-width: 900px) {
    .about_caption {
        transform: translateY(-37%);
    }
}
@media (max-width: 500px) {
    .about_caption {
        transform: translateY(-40%);
    }
}

.about__text {
    font-family: 'Prompt Reg', sans-serif;
    font-size: .9rem;
    line-height: 1.33rem;
    padding: .33rem 10rem;
    text-align: center;
    color: rgba(0, 0, 0, .66);
}
@media (max-width: 1280px) {
    .about__text {
        font-size: calc(.6rem + (.9 - .6) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(.9rem + (1.33 - .9) * ((100vw - 20rem) / (71.11 - 20)));
        padding: calc(.01rem + (.33 - .01) * ((100vw - 20rem) / (71.11 - 20)))
        calc(1rem + (10 - 1) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.about__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 6rem 0;
}
@media (max-width: 800px) {
    .about__items {
        justify-content: center;
    }
}
@media (max-width: 1280px) {
    .about__items {
        padding: calc(.33rem + (3 - .33) * ((100vw - 20rem) / (71.11 - 20))) 0
        calc(1.33rem + (6 - 1.33) * ((100vw - 20rem) / (71.11 - 20))) 0;
    }
}

.about__item {
    width: 20%;
    border-right: 1px solid rgba(0, 0, 0, .33);
    text-align: center;
    opacity: 0;
    will-change: transform, opacity;
}
@media (max-width: 800px) {
    .about__item {
        width: 33.33%;
        border: none;
    }
}
@media (max-width: 450px) {
    .about__item {
        width: 48%;
    }
}

.about__item:last-child {
    border: none
}

.about__image {
    width: 100%;
    padding: .66rem 3.66rem;
}
@media (max-width: 1280px) {
    .about__image {
        padding: calc(.01rem + (.66 - .01) * ((100vw - 20rem) / (71.11 - 20)))
        calc(1.33rem + (3.66 - 1.33) * ((100vw - 20rem) / (71.11 - 20)))
    }
}
@media (max-width: 800px) {
    .about__image {
        padding: .33rem 5rem 0 5rem;
    }
}
@media (max-width: 750px) {
    .about__image {
        padding: .33rem 4.5rem 0 4.5rem;
    }
}
@media (max-width: 699px) {
    .about__image {
        padding: .33rem 4rem 0 4rem;
    }
}
@media (max-width: 650px) {
    .about__image {
        padding: .33rem 3.5rem 0 3.5rem;
    }
}
@media (max-width: 599px) {
    .about__image {
        padding: .33rem 3rem 0 3rem;
    }
}
@media (max-width: 500px) {
    .about__image {
        padding: .33rem 2.5rem 0 2.5rem;
    }
}
@media (max-width: 450px) {
    .about__image {
        padding: .33rem 4rem 0 4rem;
    }
}
@media (max-width: 400px) {
    .about__image {
        padding: .33rem 3.5rem 0 3.5rem;
    }
}
@media (max-width: 360px) {
    .about__image {
        padding: .33rem 3rem 0 3rem;
    }
}

.about__image img {
    width: 100%;
}

.about__item p {
    font-family: 'Prompt Reg', sans-serif;
    font-size: .9rem;
    line-height: 1rem;
    text-transform: uppercase;
}
@media (max-width: 1280px) {
    .about__item p {
        font-size: calc(.6rem + (.9 - .6) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (71.11 - 20)))
    }
}
@media (max-width: 400px) {
    .about__item p {
        font-size: .6rem;
    }
}

.zones {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 4rem 0 0 0;
}
@media (max-width: 1280px) {
    .zones {
        padding: calc(1rem + (4 - 1) * ((100vw - 20rem) / (71.11 - 20))) 0 0 0;

    }
}

.zone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .zone {
        margin-bottom: calc(1rem + (4 - 1) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.zone__image {
    width: 50%;
}
@media (max-width: 1200px) {
    .zone__image {
        width: 49%;
    }
}
@media (max-width: 1100px) {
    .zone__image {
        width: 48%;
    }
}
@media (max-width: 1000px) {
    .zone__image {
        width: 47%;
    }
}
@media (max-width: 900px) {
    .zone__image {
        width: 46%;
    }
}
@media (max-width: 800px) {
    .zone__image {
        width: 45%;
    }
}
@media (max-width: 700px) {
    .zone__image {
        width: 100%;
        margin-bottom: .5rem;
    }
}

.zone__image_noright {
    display: none;
}
@media (max-width: 700px) {
    .zone__image_noright {
        display: block;
        width: 100%;
        margin-bottom: .5rem;
    }
}

.zone__image_right {
    display: block;
}
@media (max-width: 1200px) {
    .zone__image_right {
        width: 49%;
    }
}
@media (max-width: 1100px) {
    .zone__image_right {
        width: 48%;
    }
}
@media (max-width: 1000px) {
    .zone__image_right {
        width: 47%;
    }
}
@media (max-width: 900px) {
    .zone__image_right {
        width: 46%;
    }
}
@media (max-width: 800px) {
    .zone__image_right {
        width: 45%;
        margin-bottom: 1rem;
    }
}
@media (max-width: 700px) {
    .zone__image_right {
        display: none;
    }
}

.zone__image img {
    width: 100%;
    /*margin-bottom: -8px;*/
}

.zone__content {
    width: 50%;
    padding: 0 0 0 4rem;
}
@media (max-width: 1200px) {
    .zone__content {
        width: 51%;
        padding: 0 0 0 3.75rem;
    }
}
@media (max-width: 1100px) {
    .zone__content {
        width: 52%;
        padding: 0 0 0 3.5rem;
    }
}
@media (max-width: 1000px) {
    .zone__content {
        width: 53%;
        padding: 0 0 0 3.25rem;
    }
}
@media (max-width: 900px) {
    .zone__content {
        width: 54%;
        padding: 0 0 0 3rem;
    }
}
@media (max-width: 800px) {
    .zone__content {
        width: 55%;
        padding: 0 0 0 2.75rem;
    }
}
@media (max-width: 700px) {
    .zone__content {
        width: 100%;
        padding: 0;
    }
}

.zone__content_right {
    width: 50%;
    padding: 0 4rem 0 0;
}
@media (max-width: 1200px) {
    .zone__content_right {
        width: 51%;
        padding: 0 3.75rem 0 0;
    }
}
@media (max-width: 1100px) {
    .zone__content_right {
        width: 52%;
        padding: 0 3.5rem 0 0;
    }
}
@media (max-width: 1000px) {
    .zone__content_right {
        width: 53%;
        padding: 0 3.25rem 0 0;
    }
}
@media (max-width: 900px) {
    .zone__content_right {
        width: 54%;
        padding: 0 3rem 0 0;
    }
}
@media (max-width: 800px) {
    .zone__content_right {
        width: 55%;
        padding: 0 2.75rem 0 0;
    }
}
@media (max-width: 700px) {
    .zone__content_right {
        width: 100%;
        padding: 0;
    }
}

.zone__title {
    text-align: left;
    font-family: 'Prompt SemiBold', sans-serif;
    font-size: 1.66rem;
    line-height: 1.66rem;
    padding: 0 0 0 0;
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
}
@media (max-width: 1280px) {
    .zone__title {
        font-size: calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(1.1rem + (1.66 - 1.1) * ((100vw - 20rem) / (71.11 - 20)))
    }
}

.text__right {
    text-align: right;
}

.zone__subtitle {
    width: 100%;
    font-family: 'Prompt Reg', sans-serif;
    font-size: .8rem;
    line-height: 1rem;
    padding: .33rem 0 1.33rem 0;
    color: rgba(0, 0, 0, .66);
}
@media (max-width: 1280px) {
    .zone__subtitle {
        font-size: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (71.11 - 20)));
        padding: .33rem 0 calc(.66rem + (1.33 - .66) * ((100vw - 20rem) / (71.11 - 20))) 0;
    }
}

.zone__subtitle sup {
    font-size: .6rem;
}
@media (max-width: 1280px) {
    .zone__subtitle sup {
        font-size: calc(.4rem + (.6 - .4) * ((100vw - 20rem) / (71.11 - 20)));
    }
}


.zone__text {
    font-family: 'Prompt Reg', sans-serif;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 0 0 1.33rem 0;
    color: rgba(0, 0, 0, .66);
}
@media (max-width: 1280px) {
    .zone__text {
        font-size: calc(.6rem + (.9 - .6) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(1rem + (1.5 - 1) * ((100vw - 20rem) / (71.11 - 20)));
        padding: 0 0 calc(.5rem + (1.33 - .5) * ((100vw - 20rem) / (71.11 - 20))) 0;
    }
}

.zone__services,
.zone__services2,
.zone__services3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .33rem 0 .66rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 2rem;
    flex-wrap: wrap;
    overflow-x: hidden;
}
@media (max-width: 1280px) {
    .zone__services,
    .zone__services2,
    .zone__services3 {
        margin-bottom: calc(.66rem + (2 - .66) * ((100vw - 20rem) / (71.11 - 20)));
        padding: calc(.01rem + (.33 - .01) * ((100vw - 20rem) / (71.11 - 20))) 0
        calc(.33rem + (.66 - .33) * ((100vw - 20rem) / (71.11 - 20))) 0;
    }
}

.flex__right {
    justify-content: flex-end;
}

.zone__services img,
.zone__services__img,
.zone__services__img2,
.zone__services__img3 {
    margin-right: 1rem;
    width: 1.33rem;
    opacity: 0;
    transform: translateX(50px);
}
@media (max-width: 1280px) {
    .zone__services img,
    .zone__services__img2,
    .zone__services__img3 {
        width: calc(1rem + (1.33 - 1) * ((100vw - 20rem) / (71.11 - 20)));
        margin-right: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.zone__link {
    padding: .66rem 1.66rem;
    font-family: 'Prompt Reg', sans-serif;
    font-size: .8rem;
    line-height: .8rem;
    border: 1px solid #345E41;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    display: inline-block;
}
@media (max-width: 1280px) {
    .zone__link {
        font-size: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (71.11 - 20)));
        padding: calc(.5rem + (.66 - .5) * ((100vw - 20rem) / (71.11 - 20)))
        calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.zone__link:hover {
    background-color: #345E41;
    color: white;
}

.link__right {
    text-align: right;
}

.explore {
    position: relative;
}

.explore__image img {
    width: 100%;
    margin-bottom: -8px;
}

.explore__text {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateY(-50%);
}
@media (max-width: 1280px) {
    .explore__text {
        left: calc(4rem + (40 - 4) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.explore__title {
    color: white;
    margin-bottom: 2rem;
    font-family: 'Prompt Reg', sans-serif;
    font-size: 3.33rem;
    line-height: 3.33rem;
    font-weight: 600;
}
@media (max-width: 1280px) {
    .explore__title {
        font-size: calc(1.33rem + (3.33 - 1.33) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(1.5rem + (3.33 - 1.5) * ((100vw - 20rem) / (71.11 - 20)));
        margin-bottom: calc(.33rem + (2 - .33) * ((100vw - 20rem) / (71.11 - 20)));
    }
}


.price-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.33rem 0 0 0;
}
@media (max-width: 1280px) {
    .price-list {
        padding: calc(.66rem + (1.33 - .66) * ((100vw - 20rem) / (71.11 - 20))) 0 0 0;

    }
}
@media (max-width: 700px) {
    .price-list {
        margin-bottom: 1rem;

    }
}

.price-list p {
    display: inline-block;
    width: 25%;
    font-family: 'Prompt Reg', sans-serif;
    font-size: .9rem;
    line-height: 2.2rem;
    color: rgba(0, 0, 0, .66);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-align: right;
}
@media (max-width: 1280px) {
    .price-list p {
        font-size: calc(.6rem + (.9 - .6) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(1.33rem + (2.2 - 1.33) * ((100vw - 20rem) / (71.11 - 20)))
    }
}

.price-list p.first {
    width: 50%;
    text-align: left;
}

.slide__about_above-title {
    font-size: 1.66rem;
    line-height: 1.66rem;
    margin-bottom: 2rem;
    color: white;
    opacity: 0;
}
@media (max-width: 1280px) {
    .slide__about_above-title {
        font-size: calc(.66rem + (1.66 - .66) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (71.11 - 20)));
        margin-bottom: calc(.2rem + (2 - .2) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.slide__about-title {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 3rem;
    color: white;
    transform: translateX(0);
    transition: 1s;
    visibility: visible;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
}
@media (max-width: 1280px) {
    .slide__about-title {
        font-size: calc(1rem + (4 - 1) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(1.2rem + (4 - 1.2) * ((100vw - 20rem) / (71.11 - 20)));
        margin-bottom: calc(.33rem + (3 - .33) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.about-link {
    padding: .66rem 1.66rem;
    font-family: 'Prompt Reg', sans-serif;
    font-size: .8rem;
    line-height: .8rem;
    border: 1px solid #345E41;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    color: white;
    background-color: #345E41;
    width: auto;
    opacity: 0;
}
@media (max-width: 1280px) {
    .about-link {
        font-size: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (71.11 - 20)));
        padding: calc(.33rem + (.66 - .33) * ((100vw - 20rem) / (71.11 - 20)))
        calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (71.11 - 20)));
    }
}

.about-link:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.slide__about img {
    width: 100%;
    margin-bottom: -8px;
}

.order_yes {
    font-size: 1rem;
    line-height: 1.2rem;
    color: white;
    text-align: center;
    padding: 1rem;
    border: 1px solid white;
    transform: translateY(-3rem);
    background-color: darkgreen;
    opacity: .66;
}
@media (max-width: 1280px) {
    .order_yes {
        font-size: calc(.7rem + (1 - .7) * ((100vw - 20rem) / (71.11 - 20)));
        line-height: calc(.8rem + (1.2 - .8) * ((100vw - 20rem) / (71.11 - 20)));
        padding: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (71.11 - 20)));
        transform: translateY(calc(0rem + (-3 + 0) * ((100vw - 20rem) / (71.11 - 20))));
    }
}
