.contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 5rem 0 0 0;
}
@media (max-width: 1280px) {
    .contacts {
        padding: calc(1rem + (5 - 1) * ((100vw - 20rem) / (80 - 20))) 0 0 0;
    }
}

.contacts__left {
    width: 50%;
    padding: 0 3rem 5rem 0;
}
@media (max-width: 400px) {
    .contacts__left {
        width: 100%;
        padding: 0 0 0 0;
    }
}

.contacts__right {
    width: 50%;
    padding: 0 0 5rem 3rem;
}
@media (max-width: 400px) {
    .contacts__right {
        width: 100%;
        padding: 1rem 0 0 0;
    }
}

.contacts__left_title,
.contacts__right_title {
    text-align: left;
    font-family: 'Prompt SemiBold', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 0 0 1.33rem 0;
    color: rgba(0, 0, 0, .7);
    font-weight: 400;
}
@media (max-width: 1280px) {
    .contacts__left_title,
    .contacts__right_title {
        font-size: calc(1rem + (1.3 - 1) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.1rem + (1.3 - 1.1) * ((100vw - 20rem) / (80 - 20)));
        padding: 0 0 calc(.5rem + (1.33 - .5) * ((100vw - 20rem) / (82 - 20))) 0;
    }
}

.contacts__left_text,
.contacts__right_text {
    font-family: 'Prompt Reg', sans-serif;
    font-size: .9rem;
    line-height: 1.33rem;
    padding: 0 0 1.33rem 0;
    color: rgba(0, 0, 0, .66);
}
@media (max-width: 1280px) {
    .contacts__left_text,
    .contacts__right_text {
        font-size: calc(.7rem + (.9 - .7) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.33 - 1) * ((100vw - 20rem) / (80 - 20)));
        padding: 0 0 calc(.33rem + (1.33 - .33) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.contacts__span {
    font-family: 'Prompt Reg', sans-serif;
    font-size: 1rem;
    line-height: 1.66rem;
    padding: 0 0 1.33rem 0;
    color: rgba(0, 0, 0, .7);
    display: inline-block;
}
@media (max-width: 1280px) {
    .contacts__span {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.1rem + (1.66 - .1) * ((100vw - 20rem) / (80 - 20)));
        padding: 0 0 calc(.1rem + (1.33 - .1) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.contacts__left_social {
    font-family: 'Prompt Reg', sans-serif;
    font-size: 1rem;
    line-height: 1.66rem;
    padding: 0 0 1.33rem 0;
    color: rgba(0, 0, 0, .7);
}
@media (max-width: 1280px) {
    .contacts__left_social {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.1rem + (1.66 - .1) * ((100vw - 20rem) / (80 - 20)));
        /*padding: 0 0 calc(.1rem + (1.33 - .1) * ((100vw - 20rem) / (80 - 20))) 0;*/
    }
}

.contacts__left_social img {
    width: 1.2rem;
    margin-right: .2rem;
    cursor: pointer;
    opacity: .7;
    transition: .5s;
}

.contacts__right_text img {
    width: 2.5rem;
    margin-right: .2rem;
}

.contacts__left_social img:hover {
    opacity: 1;
}

.contacts__form form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media (max-width: 400px) {
    .contacts__form form {
        padding: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20))) 0;
    }
}

.contacts__form-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts__form-control textarea {
    width: 100%;
    margin-bottom: 1rem;
    font-family: 'Prompt Reg', sans-serif;
    font-size: .9rem;
    line-height: 1.33rem;
    padding: .66rem;
    color: rgba(0, 0, 0, .66);
    outline: none;
    border: 1px solid rgba(0, 0, 0, .33);
}
@media (max-width: 1280px) {
    .contacts__form-control textarea {
        font-size: calc(.7rem + (.9 - .7) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.9rem + (1.33 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.33rem + (.66 - .33) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.contacts__form-control input {
    width: 48%;
    margin-bottom: 1rem;
    font-family: 'Prompt Reg', sans-serif;
    font-size: .9rem;
    line-height: 1.33rem;
    padding: .66rem;
    color: rgba(0, 0, 0, .66);
    outline: none;
    border: 1px solid rgba(0, 0, 0, .33);
}
@media (max-width: 1280px) {
    .contacts__form-control input {
        font-size: calc(.7rem + (.9 - .7) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.9rem + (1.33 - .9) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.33rem + (.66 - .33) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: calc(.5rem + (1 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.contacts__link {
    padding: .66rem 1.66rem;
    font-family: 'Prompt Reg', sans-serif;
    font-size: .8rem;
    line-height: .8rem;
    border: 1px solid #345E41;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    color: white;
    background-color: #345E41;
    width: auto;
    cursor: pointer;
}
@media (max-width: 1280px) {
    .contacts__link {
        font-size: calc(.6rem + (.8 - .6) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.6rem + (.8 - .6) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.5rem + (.66 - .5) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.contacts__link:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}
