@font-face {
    font-family: 'Prompt Reg';
    src: local('Prompt Reg'), local('Prompt Reg'),
    url('../fonts/Prompt/Prompt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt Bold';
    src: local('Prompt Bold'), local('Prompt Bold'),
    url('../fonts/Prompt/Prompt-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt SemiBold';
    src: local('Prompt SemiBold'), local('Prompt SemiBold'),
    url('../fonts/Prompt/Prompt-SemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt Thin';
    src: local('Prompt Thin'), local('Prompt Thin'),
    url('../fonts/Prompt/Prompt-Thin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}