.slide__text__kids {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 470px) {
    .slide__text__kids {
        width: 80%;
    }
}

.slide__title_kids {
    font-size: 4.33rem;
    line-height: 4.66rem;
    margin-bottom: 5rem;
    color: white;
    transform: translateX(0);
    transition: 1s;
    opacity: 1;
    visibility: visible;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}
@media (max-width: 1280px) {
    .slide__title_kids {
        font-size: calc(1rem + (4.33 - 1) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (4.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: calc(.66rem + (5 - .66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.booking__item-link_kids {
    padding: .66rem 1.66rem;
    font-family: 'Prompt Reg', sans-serif;
    font-size: .8rem;
    line-height: .8rem;
    border: 1px solid #345E41;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    color: white;
    background-color: #345E41;
    width: auto;
}
@media (max-width: 1280px) {
    .booking__item-link_kids {
        padding:
            calc(.33rem + (.66 - .33) * ((100vw - 20rem) / (80 - 20)))
            calc(1rem + (1.66 - 1) * ((100vw - 20rem) / (80 - 20)));
        font-size: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.5rem + (.8 - .5) * ((100vw - 20rem) / (80 - 20)));
    }
}

.booking__item-link_kids:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.slide__image {
    position: relative;
}

.overlay__kids {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

.blog__title_kids {
    text-align: left;
    font-family: 'Prompt SemiBold', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 2rem 0 1rem 0;
    color: rgba(0, 0, 0, .8);
}
@media (max-width: 1280px) {
    .blog__title_kids {
        font-size: calc(1.2rem + (1.5 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.2rem + (1.5 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.33rem + (2 - .33) * ((100vw - 20rem) / (80 - 20))) 0 1rem 0;
    }
}

.parallax__slide {
    position: relative;
    width: 100%;
}

.slide__content {
    width: 66%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#parallax__slide2 .slide__content {
    text-align: right;
}

.parallax__slide img {
    width: 100%;
    margin-bottom: -8px;
}

.parallax__slide h3 {
    width: 100%;
    color: white;
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin-bottom: 3rem;
}
@media (max-width: 1280px) {
    .parallax__slide h3 {
        font-size: calc(1rem + (4 - 1) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (4 - 1) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: calc(.33rem + (3 - .33) * ((100vw - 20rem) / (80 - 20)));
    }
}

#parallax__slide2 h3 {
    text-align: right;
}
