@import "fonts.css";
@import "style.css";
@import "header.css";
@import "slider.css";
@import "order.css";
@import "about.css";
@import "accommodation.css";
@import "activity.css";
@import "stunning.css";
@import "booking.css";
@import "infrastructure.css";
@import "blogs.css";
@import "single.css";
@import "kids.css";
@import "contacts.css";
@import "footer.css";
@import "login.css";
@import "posts.css";
@import "account.css";
